md-toolbar
    .md-toolbar-tools
        md-button.md-icon-button(aria-label="Settings")
            md-icon menu
        h2 Search for Plaques
        span(flex)
        md-button.md-fab.md-mini(ng-disabled="false" ng-click="showAlert($event)")
            md-tooltip(md-direction="bottom") cake
            md-icon cake

md-content(layout-padding)
    md-input-container.md-block(flex-gt-sm)
        label Search Term
        input(ng-model="vm.searchTerm" ng-model-options="{debounce: 500}" autofocus ng-readonly="vm.searching")
        .hint Search using words 

md-content(layout-padding)
    md-grid-list(md-cols-gt-md="12" md-cols="3" md-cols-md="8" md-row-height-gt-md="1:1" md-row-height="4:3" md-gutter-gt-md="16px" md-gutter-md="8px" md-gutter="4px")
        md-grid-tile(ng-repeat="plaque in vm.plaques"
                      id="plaque{{ plaque.id}}" 
                      ng-style="{ 'background': plaque.color, 'overflow': 'hidden' }"
                      class="animatedTile"
                      ng-click="showPlaque($event, plaque)"
                      md-colspan-gt-sm="{{ plaque.col }}"
                      md-rowspan-gt-sm="{{ plaque.row }}")
            plaque-tile(plaque="plaque" vm="vm" style="width:100%; height:100%")
            
md-footer
    
    | Data provided by 
    a(href="http://openplaques.org") OpenPlaques
